NET "CLK_50M" LOC = "E12";
NET "ADDRESS<2>" LOC = "U8";
NET "ADDRESS<1>" LOC = "U10";
NET "ADDRESS<0>" LOC = "V8";
NET "DATA_OUT<7>" LOC = "W21";
NET "DATA_OUT<6>" LOC = "Y22";
NET "DATA_OUT<5>" LOC = "V20";
NET "DATA_OUT<4>" LOC = "V19";
NET "DATA_OUT<3>" LOC = "U19";
NET "DATA_OUT<2>" LOC = "U20";
NET "DATA_OUT<1>" LOC = "T19";
NET "DATA_OUT<0>" LOC = "R20";
