//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 21 14:34:49 2021
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E12" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "rst" LOCATE = SITE "T14" LEVEL 1;
SCHEMATIC END;

