NET "CLK_50M"       LOC = "E12";
NET "RESET"			LOC = "T14";
NET "PS2D"			LOC = "V11";
NET "PS2C"			LOC = "W12";
NET "VGA_B<0>"      LOC = "C7";
NET "VGA_B<1>"      LOC = "D7";
NET "VGA_B<2>"      LOC = "B9";
NET "VGA_B<3>"      LOC = "C9";
NET "VGA_G<0>"      LOC = "C5";
NET "VGA_G<1>"      LOC = "D5";
NET "VGA_G<2>"      LOC = "C6";
NET "VGA_G<3>"      LOC = "D6";
NET "VGA_R<0>"      LOC = "A3";
NET "VGA_R<1>"      LOC = "B3";
NET "VGA_R<2>"      LOC = "B8";
NET "VGA_R<3>"      LOC = "C8";
NET "VGA_HSYNC"     LOC = "C11";
NET "VGA_VSYNC"     LOC = "B11";
